body {
  font-family: Arial, sans-serif;
  background: #f6f6f6;
  padding: 40px;
}

.content {
  display: flex;
  align-items: stretch;
}


.profile-card {
  background: white;
  gap: 30px;
  padding: 20px;
  max-width: 800px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.left {
  width: 300px;
}

.search {
  width: 100%;
  padding: 6px;
  margin-bottom: 15px;
  background: #2b2b2b;
  color: white;
  border: 1px solid #555;
}

hr
{
    margin-top: 15px;
    margin-bottom: 15px;

}

.avatar {
  width: 170px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.basic div {
  margin-bottom: 5px;
}

.right {
    margin-top: 50px;
    margin-left: 100px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}


.row span:first-child {
  width: 120px;
  font-weight: bold;
}

.stats {
  margin-top: 15px;
  gap: 30px;
}

.basicrow {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
